<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <title>Covid Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/images/newcovid.png" rel="shortcut icon" type="image/x-icon">
        <link href="/images/newcovid.jpg" rel="apple-touch-icon">
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body id="data">
        <section class="container">
        <div class="data-wrap">
            <% Country.create_from_scraper %>
            <div class="flex-column grid">
                <h5>Global Stats Live</h1>
                <% Country.world_stats.each do |country| %>
                <div class=" grid auto-grid-rows opacity-card" id="confirmed">
                    <h3>Confirmed</h3>
                    <h2 id="cases"><%= country.add_commas_to_int(country.cases) %></h2>
                </div>
                <div class="grid auto-grid-rows opacity-card" id="deceased">
                    <h3>Deceased</h3>
                    <h2 id="deaths"><%= country.add_commas_to_int(country.deaths) %></h2>
                </div>
                <div class="grid auto-grid-rows opacity-card" id="recovered">
                    <h3>Recovered</h3>
                    <h2 id="recovered"><%= country.add_commas_to_int(country.recovered) %></h2>
                </div>
                <div class="grid auto-grid-rows opacity-card" id="active">
                    <h3>Active</h3>
                    <h2 id="active"><%= country.add_commas_to_int(country.active) %></h2>
                </div>
                <div class="grid auto-grid-rows opacity-card" id="critical">
                    <h3>Critical</h3>
                    <h2 id="critical"><%= country.add_commas_to_int(country.critical) %></h2>
                </div>
                <% end %>
            </div>
        </div>
        <% Country.all.clear %>
    </section>

    <script>
        $(document).ready(function(){  
            setInterval(function(){   
                $("#data").load("/data");
            }, 10000);
        });
    </script>
  </body>
</html>
